<h1 class="page-title">About Andy</h1>

<p>If you're reading this, either you're <em>very</em> interested in hiring me, or my job search is going much quicker than my portfolio revamp.</p>

<p>I've been making websites for nigh-on 25 years at this point, starting with tiled-background styled-in-the-body-tag Tamagotchi fansites, all the way through to all-singing, all-dancing single-page applications in the latest versions of Angular.</p>

<p>Angular remains my main weapon of choice, but I've touched on a variety of frameworks in my time, and I'm a quick learner when the need arises. For example, I'm currently delving into YAML and Shell Scripting so I can crank out some GitHub Actions to automate the deployment and release process for my current work project.</p>

<p>For now, while I'm getting this portfolio up to speed... if you want to know my work history, go and visit my LinkedIn profile. If you want to know my skillset, have a poke around my GitHub account, and perhaps look at the repo for this application. If you want to see if I'm a fit for your organisation, drop me an email. If you want to know how to play Warhammer well, then you're going for a real deep-dive into my personal life!</p>