<div class="pairs-game">
    <h1 class="pairs-game__header page-title">Pairs!!</h1>
    <div id="pairsWindow">
        <div class="pairs-game__card"
            [ngClass]="{'flipped': card.clicked || card.correct}"
            *ngFor="let card of selectedCards; index as i;"
            (click)="clickCard(card)">
            <img class="pairs-game__card-front" src="assets/images/card_{{card.type}}.jpg" />
            <img class="pairs-game__card-back" src="assets/images/card_back.jpg" />
        </div>
        <dialog class="pairs-game__modal" popover="auto">
            <h2>You win!</h2>
            <p>Want to play again?</p>
            <div class="button-group">
                <button class="pairs-game__modal-button" (click)="resetGame(2)">Easy (2 pairs)</button>
                <button class="pairs-game__modal-button" (click)="resetGame(4)">Medium (4 pairs)</button>
                <button class="pairs-game__modal-button" (click)="resetGame(6)">Hard (6 pairs)</button>
            </div>
        </dialog>
    </div>
</div>