<header id="PageHeader">
    <ul class="HeaderMenu">
        <li>
          <a>Home</a>
        </li>
        <li>
          <a>About Me</a>
        </li>
        <li>
          <a>My Work</a>
        </li>
        <li>
          <a aria-label="Link to my LinkedIn profile" href="https://uk.linkedin.com/pub/andrew-jennings/4b/9b4/586">
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
        </li>
        <li>
          <a aria-label="Link to my GitHub account" href="https://github.com/andyjennings314">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
        </li>
        <li>
          <a aria-label="Link to send me an email" href="mailto:andyjennings314@gmail.com">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </a>
        </li>
    </ul>
  </header>