<header id="PageHeader">
  <ul class="HeaderMenu">
      <li>
        <a>Home</a>
      </li>
      <li>
        <a>About Me</a>
      </li>
      <li>
        <a>My Work</a>
      </li>
      <li>
        <a href="https://uk.linkedin.com/pub/andrew-jennings/4b/9b4/586">LinkedIn</a>
      </li>
      <li>
        <a href="https://github.com/andyjennings314">GitHub</a>
      </li>
      <li>
        <a href="mailto:andyjennings314@gmail.com">Email</a>
      </li>
  </ul>
</header>

<router-outlet />

<footer>
  <p>Copyright 2024 Andy Jennings, with exceptions</p>
</footer>