.weatherMain {
    text-align: center;
    max-width: 500px;
    margin: 15px auto 0;
    padding: 20px;
    border-radius: 15px;
    border: 7px solid white;
    transition: color 0.5s;
  
      &.day {
        background: linear-gradient(135deg, skyblue 0%, #3bb0de 100%);
        color: black;
      }
  
      &.night {
        background: linear-gradient(135deg, #0f121c 0%, black 80%);
        color: white;
      }
  
      &.dusk {
        background: linear-gradient(135deg, #2aade5 0%, #de913b 100%);
        color: black;
      }
  
      h3 {
        margin: 0;
      }
  
      .weatherIcon {
        text-align: center;
  
          h1 {
              font-size: 150px;
              line-height: 110px;
        margin-top: 30px;
              margin-bottom: 30px;
          }
  
          h2 {
              font-size: 30px;
              margin: 0;
          }
      }
  
      .weatherElement {
        min-height: 50px;
  
          div {
            width: 50%;
            display: block;
            float: left;
            height: 50px;
          }
  
          h4.arrow {
            display: inline-block;
            font-size: 50px;
            margin: 0;
            line-height: 40px;
            margin-top: 10px;
            transition: transform 0.75s ease-in-out;
            transition-delay: 0.1s;
          }
      }
  }
  
  .weatherAlternate {
    text-align: center;
  
      span.newWeather {
        background: linear-gradient(to bottom, #000062 0%, #000062 37%, #000045 100%);
        border-radius: 5px;
        padding: 2px 5px;
        cursor: pointer;
      }
  }