body {
    background: $mid-blue;
    color: $white-blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;

    router-outlet + * {
        min-height: calc(100vh - 87px);
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $white;
    -webkit-text-stroke: 1.5px $dark-red;
    text-shadow: 4px 4px transparentize($dark-blue, 0.2) ;
}