body {
    background: $mid-blue;
    color: $white-blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;

    router-outlet + * {
        min-height: calc(100vh - 102px);
        overflow-y: scroll;
        padding: 0 15px 15px;

        @media #{$medium-up} {
            padding: 0 20px 15px;
        }

        @media #{$large-up} {
            padding: 0 35px 15px;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $white;
    font-variant: small-caps;
}

h1.page-title {
    font-size: 40px;
    -webkit-text-stroke: 2px $dark-red;
    text-shadow: 6px 6px transparentize($dark-blue, 0.2);
    text-align: center;

    @media #{$medium-up} {
        font-size: 50px;
        -webkit-text-stroke: 3px $dark-red;
    }

    @media #{$large-up} {
        font-size: 60px;
    }
}