$small-only: 'screen and (max-width: 449px)';
$medium-only: 'screen and (min-width: 450px) and (max-width: 749px)';
$medium-up: 'screen and (min-width: 450px)';
$large-up: 'screen and (min-width: 750px)';
$xl-up: 'screen and (min-width: 1250px)';