button {
    background: $dark-blue;
    border-radius: 5px;
    padding: 5px 15px;
    color: $light-brown;

    &:active {
        color: $dark-red;
    }
}

div.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
        flex-basis: 0;
        flex-grow: 1;
        margin-bottom: 10px;
    }

    @media #{$medium-up} {
        flex-direction: row;

        button {
            margin-bottom: 0;
            
            &:not(:last-of-type) {
                margin-right: 10px;
            }
        }
    }
}